

#display{
  grid-area: displays;
}

#buttons{
  grid-area: buttons;
  
}

.container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  20% 80%;
  grid-template-areas: 
    "displays"
    "buttons";
}